html
	min-height: 100%

body 
	margin: 0
	background: linear-gradient(144deg, #f7f4d6, #f7f4d6 50%, #abd4e2)
	background-size: cover
	font-family: 'Lato', sans-serif

	&:before
		content: ''
		display: table
		