.search-box
	background: #fff
	border-radius: 3px
	position: relative
	
	> .search
		border: 0
		width: 100%
		box-sizing: border-box
		padding: 0 50px 0 100px
		
	> .label 
		position: absolute
		left: 30px
		
	> .search-btn 
		position: absolute
		right: 10px
		top: 0