.weather 
	background: #fbfaed
	border-radius: 3px
	border: 1px solid #fff
	max-width: 514px
	widht: 100%
	margin: 0 auto 26px
	box-sizing: border-box;
	padding: 34px 60px 48px 49px;
	
	> .heading 
		font-family: 'Pacifico'
		font-size: 24px
		text-align: center
		margin: 0 0 12px