.icon 
	display: block
	background-position: center
	background-size: 80%
	background-repeat: no-repeat
	
	&-01d
		background-image: url('gfx/2.svg')

	&-01n
		background-image: url('gfx/3.svg')

	&-02d
		background-image: url('gfx/8.svg');

	&-02n
		background-image: url('gfx/9.svg');

	&-03d,
	&-03n
		background-image: url('gfx/14.svg');

	&-04d,
	&-04n
		background-image: url('gfx/25.svg');
		background-position: center 0

	&-09d,
	&-09n
		background-image: url('gfx/18.svg');

	&-10d,
	&-10n
		background-image: url('gfx/17.svg');

	&-11d,
	&-11n
		background-image: url('gfx/16.svg');

	&-13d,
	&-13n
		background-image: url('gfx/23.svg');

	&-50d
		background-image: url('gfx/10.svg');

	&-50n
		background-image: url('gfx/11.svg');